<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Ingresar</h2>
            </div>
            <!-- Show the "ultimos" products -->

            <div class="col-12">
                <form action="/users/login" method="POST">
                    <label for="usuario">Usuario (Email):</label><br>
                    <input type="email" id="usuario" name="mail" required><br><br>

                    <label for="contraseña">Contraseña:</label><br>
                    <input type="password" id="contrasenia" name="contrasenia" required><br><br>

                    <input type="checkbox" id="recordarme" name="recordarme">
                    <label for="recordarme">Recordarme</label><br><br>

                    <input type="submit" value="Iniciar Sesión">
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- /footer -->
</body>

</html>
